<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

  <!-- Dummy base link, THIS IS REQUIRED TO MAKE INERTIALS WORK PROPERLY, NO INERTIALS ON ROOT LINK EVER -->

  <xacro:macro name="base" params="name">

    <!-- Root link of model tree -->
    <link name="${name}" />

  </xacro:macro>

  <!-- Robot Body-->
  <xacro:macro name="chassis" params="name parent">

    <link name="${name}">
      <inertial>
        <origin xyz="3.46944695195361E-17 7.49400541621981E-16 -0.0239896596916945" rpy="0 0 0" />
        <mass value="2.99727740426564" />
        <inertia ixx="0.0142790088244602" ixy="6.45467922219569E-14" ixz="-3.1746195829711E-20" iyy="0.0447315756530562" iyz="-8.1118924677263E-18" izz="0.0585481301221819" />
      </inertial>
      <visual>
        <origin xyz="0 0 0" rpy="0 0 0" />
        <geometry>
          <mesh filename="file://$(find swerve_robot_description)/meshes/base_link.dae" />
        </geometry>
      </visual>
      <collision>
        <origin xyz="0 0 0" rpy="0 0 0" />
        <geometry>
          <mesh filename="file://$(find swerve_robot_description)/meshes/base_link.dae" />
        </geometry>
      </collision>
    </link>

    <joint name="body_joint" type="fixed">
      <parent link="${parent}" />
      <child link="${name}" />
    </joint>

    <gazebo reference="${name}">
      <material>Gazebo/White</material>
    </gazebo>

  </xacro:macro>

</robot>
